{% extends 'product/login.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block appendable %}    
    <h1>
        You are logged out 
    </h1>
{% endblock %}