{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="example-wrapper">

    <h2>Where would you like to go?</h2>
    <ul>
        <li><a href="/product">New product</a></li>
        <li><a href="/sales">Sales</a></li>
    </ul>
</div>
{% endblock %}